# General
.DS_Store

# Android Studio
Foodagram/.idea/workspace.xml
Foodagram/.idea/tasks.xml
Foodagram/.idea/gradle.xml
Foodagram/.idea/assetWizardSettings.xml
Foodagram/.idea/dictionaries
Foodagram/.idea/libraries
Foodagram/.idea/caches
